body {
	max-width: 1920px;
	margin: auto;
	font-family: 'Inter', sans-serif;
}

* {
	font-style: normal;
	box-sizing: border-box;
}

.top-header {
	background: #fff;
	position: sticky;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 100px;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.nav li {
	padding: 0 10px;
}

.nav a {
	text-decoration: none;
	color: #000;
}

.social-link img {
	width: 20px;
}

#about, #contact {
	display: flex;
	padding: 100px;
	position: relative;
}

#about {
	background-color: #F6D2B8;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
	width: 100%;
	position: relative;
}

.picture img {
	width: 100%;
	display: block;
}

.picture.left::before,
.picture.right::before {
	content: '';
	position: absolute;
	width: 374px;
	height: 329px;
	bottom: 0;
	z-index: -1;
}

.picture.left::before {
	background-color: #E5975F;
	left: 0;
}

.picture.right::before {
	background-color: #BEB45A;
	right: 0;
}

#about-me {
	flex: 2;
}

.about-me__title {
	margin: 1em 0 60px;
	font-size: 30px;
	text-align: left;
}

.about-me__introduction {
	font-family: 'Spectral', serif;
	font-weight: 800;
	font-style: italic;
	width: 60%;
}

#about-me p {
	width: 80%;
	font-size: 14px;
}

.title {
	text-align: center;
	padding-block: 2em;
}

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link {
	color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #BEB45A;
	border-radius: 0;
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}

.item-column::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 0.5em;
}

.mg-prev,
.mg-next {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border-radius: 0;
	cursor: pointer;
	background: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.mg-prev { left: -15px; }
.mg-next { right: -15px; }

.quote {
	font-family: 'Spectral', serif;
	font-style: italic;
	width: 70%;
	margin: auto;
	padding: 3em 0;
	text-align: center;
}

.quote__text {
	font-weight: 300;
}

.quote__author {
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8;
	position: relative;
}

#services .container {
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
	position: relative;
	z-index: 1;
}

#services .container::before {
	content: '';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.service {
	background-color: #fff;
	width: 30%;
	max-width: 390px;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contact {
	background-color: #D8D3A8;
}

#contact .container {
	display: flex;
}

.form-container {
	flex: 2;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input,
form textarea {
	width: 100%;
	background: transparent;
	border: 1px solid;
	margin-bottom: 20px;
}

form input {
	height: 2.5em;
}

form textarea {
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	resize: vertical;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: 0.5em 1em;
	cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 1180px) {
	.picture {
		flex: 2;
	}

	#about,
	#contact .container {
		align-items: center;
	}

	.about-me__title {
		margin: 0 0 1em;
		text-align: center;
	}

	#about-me h6,
	#about-me p {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	#about {
		flex-direction: column;
	}

	.picture {
		width: 50%;
	}

	.picture.left::before {
		width: 100%;
		height: 30%;
		top: 0;
		left: 0;
		bottom: auto;
	}

	#services .container {
		flex-direction: column;
		align-items: center;
	}

	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0;
	}

	#services .container::before {
		width: 30%;
		height: 100%;
		right: 0;
		left: auto;
	}

	#contact .container {
		flex-direction: column;
	}

	.picture.right {
		margin-top: 1em;
	}

	.picture.right::before {
		width: 100%;
		height: 30%;
	}
}

@media (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding: 30px 0;
	}

	.top-header .nav,
	.top-header .nav ul {
		width: 100%;
		padding: 0;
	}

	.top-header .nav li {
		flex: 1;
		padding: 1em 0;
		text-align: center;
	}

	.picture.left::before,
	.picture.right::before {
		height: 150px;
	}

	#about,
	#contact {
		padding: 2em;
		flex-direction: column;
	}

	form {
		width: 100%;
	}

	.picture {
		width: 80%;
	}

	.service {
		max-width: 90%;
	}
}
